<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <div *ngIf="auth.isAuthenticated">
          <h5>{{auth.username}}</h5>
          <li class="nav-item" ><button class="nav-link" (click)="logout()">Logout</a></li>
        </div>
        <div *ngIf="!auth.isAuthenticated">
          <li class="nav-item" ><a class="nav-link" routerLink="/user/login">Login</a></li>
          <li class="nav-item" ><a class="nav-link" routerLink="/user/signup">Create Account</a></li>
        </div>
        <li class="nav-item"><a class="nav-link" routerLink="">Falsehoods</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="">Anagame</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="">Media Dunce</a></li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
