
.roundHead {
    margin-top: 30px;
    border-style: outset;
    border-width: 5px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background: linear-gradient( rgba(7, 90, 199, 0.185), white);
    border-color: rgba(0, 0, 110, 0.658);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 3px 4px rgba(27, 72, 131, 0.185);
}